@media screen and (min-width: 576px) {
    :root {
        /*网页最小宽度*/
        --body-minWidth: 576px;
        /*网页背景*/
        --body-color: rgb(255, 255, 255);
        /*登录卡片宽度*/
        --loginCard-width: 570px;
        /*登录卡片左边区域宽度*/
        --loginCard-left-width: 225px;
        /*登录卡片右边区域宽度*/
        --loginCard-right-width: 300px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        /*网页最小宽度*/
        --body-minWidth: 768px;
        /*网页背景*/
        --body-color: rgb(255, 255, 255);
        /*登录卡片宽度*/
        --loginCard-width: 750px;
        /*登录卡片左边区域宽度*/
        --loginCard-left-width: 350px;
        /*登录卡片右边区域宽度*/
        --loginCard-right-width: 350px;
    }
}

@media screen and (min-width: 992px) {
    :root {}
}

@media screen and (min-width: 1200px) {
    :root {}
}

@media screen and (min-width: 1920px) {
    :root {}
}